.singlePost {
  flex: 9;
  margin-top: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor{
  /* font-style: italic; */
  color: #a9a8a8;
}

.singlePostAuthor:hover {
  text-decoration: underline;
  cursor: pointer;
}
.singlePostDate {
  /* font-style: italic; */
  color: #a9a8a8;
  margin-left: 50px;
}

.singlePostDesc {
  /* color: #666; */
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}


.singlePostTitleInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  /* background-color: #f0f0f0; */
  font-size: 20px;
  font-family: sans-serif;
  /* color: #333; */
}


.singlePostDescInput {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* background-color: #f0f0f0; */
  font-size: 16px;
  font-family: sans-serif;
  /* color: #333; */
}


.singlePostCatInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

.singlePostCategory {
  margin-bottom: 15px;  
  color: #a9a8a8;

}
.singlePostCategory:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .single {
    flex-direction: column;
  }
}