.sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  /* background-color: #fdfbfb; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  /* color: #222222; */
  font-weight: 600;
}

.sidebarItem > img {
  margin-top: 15px;
  width: auto;
  height: auto;
}

.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  margin-right: 25px;
  margin-top: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebarIcon:hover {
  color: #4c1f54; 
  transition: color 0.3s ease;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  color: #acacac;
}


.sidebar.dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
}

.sidebar.dark .sidebarTitle {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  color: #f0f0f0;
}

.sidebar.dark .sidebarListItem a,
.sidebar.dark .sidebarListItem {
  color: #ccc;
}

.sidebar.dark .sidebarListItem:hover {
  color: #00bcd4;
}

.sidebar.dark .sidebarSocial .sidebarIcon {
  color: #ccc;
}
