body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  /* margin: 2%; */
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  /* color: #f3f2f2; */
}

.headerTitleSm {
  position: absolute;
  top: 5%;
  font-size: 1.2rem;
  color: #4d2e58;
}

.headerTitleLg {
  position: absolute;
  top: 8%;
  font-size: 3rem;
  color: #4d2e58;
}

/* .headerImg {
  width: 100%;
  height: 450px;
  margin-top: 5%;
  object-fit: cover;
} */

.headerImg {
  display: block;
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin-top: 5%;
  max-height: 450px;
}


/* ✅ Dark mode styles */
.header.dark .headerTitles {
  color: #fff;
}

@media (max-width: 468px) {
  .headerTitleSm {
    font-size: 1rem;
    top: 0%;
  }

  .headerTitleLg {
    font-size: 2rem;
    top: 5%;
  }

  .headerImg {
    height: auto;
    max-height: 300px;
  }
}